
/* ============== Color palette ============== */ 
/* https://coolors.co/264653-2a9d8f-e9c46a-f4a261-e76f51 */

:root {
  --pal_red:#E76F51;
  --pal_orange: #F4A261;
  --pal_yellow: #E9C46A;
  --pal_green: #2A9D8F;
  --pal_blue: #264653;
}

body {
  font-family: Helvetica;
}

a {
  text-decoration: none; /* to remove the underscore they tiny underscore if we have a element that just contains a button*/
}

/* ============== GRID ============== */ 
.pepper_select { 
    grid-area: pepper_select;
    justify-self: stretch; 
}
.autonomous_life_settings { grid-area: autonomous_life_settings;}
.pepper_settings { grid-area: pepper_settings;}
.pepper_speech { grid-area: pepper_speech; }
.camera { grid-area: camera; }
.pepper_motion { grid-area: pepper_motion; }
.footer { grid-area: footer; }
.tablet { grid-area: tablet;}

.grid-container {
  display: grid;
  grid-template-areas:
    'pepper_select            tablet tablet pepper_speech pepper_speech pepper_motion pepper_motion'
    'autonomous_life_settings tablet tablet pepper_speech pepper_speech pepper_motion pepper_motion'
    'autonomous_life_settings tablet tablet pepper_speech pepper_speech pepper_motion pepper_motion'
    'footer                   footer footer footer        footer        footer        footer';
  grid-gap: 10px;
  background-color: var(--pal_blue);
  padding: 10px;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  /* padding: 20px 0; */
  /* font-size: 30px; */
}


/* ============== OTHER ============== */ 

.row {
  width: 100%;
}

.toggle_btw {
  /*
  background-color: var(--pal_green);
  color: white;
  font-size: 16px;
  border: none;
  width: 60%;
  */
}

.toggle_btw:hover:enabled {
  filter: brightness(90%);
}

.btn_label_wrapper {
  width: 50%; 
  float: left;
  text-align: right;
  /* line-height: 51px; */ /* centers text vertically, DEPENDS ON HEIGHT OF NEIGHBOR DIV */
}

.btn_wrapper {
  /* width: 50%; 
  float: left;
  padding: 0px 0px;
  */
  text-align: left;
}

.speech_btn:hover:enabled {
  filter: brightness(90%);

}


.speech_btn_wrapper {
  text-align: left;
}

.speech_lbl_wrapper {
  width: 50%;
  float: left;
  text-align: right;
}

.col_one_of_three {
  width: 33%;
  float: left;
}

/* ============== BUTTON ============== */ 
.example_c {
  color: #494949;
  text-transform: uppercase;
  text-decoration: none;
  background: #ffffff;
   /* padding: 20px; */
  border: 2px solid #494949;
  display: inline-block;
  /* transition: all 0.4s ease 0s; */
  margin-left: 10px;
}

.example_c_ongoing {
  color: #ffffff !important;
  background: #F4A261 !important; 
  border-color: #F4A261 !important;
}

.example_c_green {
  color: #ffffff;
  background: #2A9D8F; 
  border-color: #2A9D8F;
}

.example_c_red {
  color: #ffffff;
  background: #E76F51;
  border-color: #E76F51;
}


.example_c:hover:enabled {
  color: #ffffff;
  background: #264653;
  border-color: #264653;
  /* transition: all 0.4s ease 0s; */
}

.tablet_img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 1280px; 
  max-height: 600px; 
  /* max-height should be 800px according to http://doc.aldebaran.com/2-5/family/pepper_technical/tablet_pep.html, but that is definitely not correct. 
  an image of height 800px does not fit on the tablet screen.
  Maybe something is off with our tablet...  */ 
}

.text_input {
  width: 80%;
  margin-top: 5px;
  margin-bottom: 5px;
}

.single_cell_div {
  display: inline-block; 
  background-color: rgba(255, 255, 255, 0.8);
  width: 100%;
  text-align: center;
}

.overlay{
  z-index: 2; 
  position: absolute; 
  top: 0px; 
  left: 0px; 
  height:250px; width:500px;
}

button:disabled,
button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

input:disabled,
input[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}