<!DOCTYPE html>
<html>
<head>
<title>WoZ4U - Camera stream</title>
<link rel="shortcut icon" type="image/x-icon" href="../static/favicon.ico">
<link rel="stylesheet" type="text/css" href="../static/style.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script src="/static/js/alertifyjs/alertify.min.js"></script>
<link rel="stylesheet" href="static/js/alertifyjs/css/alertify.css"/>
<link rel="stylesheet" href="/static/js/alertifyjs/css/themes/default.css"/>

<script type=text/javascript>
    var disconnect_alerted = false;
    var reload_once_ready = false;
    var last_successful_querry = Date.now();
    var alerted_server_dead = false;

    function toggle_video_recording() {
        $.getJSON(
            "/toggle_img_save",
            function(data){
                console.log(data);
                last_successful_querry = Date.now();
                if (data["SAVE_IMGS"]) { // if true means it is recording, so btn says stop recording
                    $("#video_recording_btn").html("STOP RECORDING");
                    $("#video_recording_btn").addClass("example_c_ongoing");
                    $("#camera_record_p").html("")
                } else {
                    $("#video_recording_btn").html("START RECORDING");
                    $("#video_recording_btn").removeClass("example_c_ongoing");
                    alertify.success("Images saved at folder specified in config at <strong>'camera_save_dir'</strong>.");
                }
            }
        )
    }

    function toggle_audio_recording() {
        $.getJSON(
            "/record_audio_data",
            function(data) {
                console.log(data);
                last_successful_querry = Date.now();

                if (data["now_recording_audio"]) { // if true means it is recording, so btn says stop recording
                    $("#audio_recording_btn").html("STOP RECORDING");
                    $("#audio_recording_btn").addClass("example_c_ongoing");
                    $("#audio_record_p").html("");
                } else {
                    $("#audio_recording_btn").html("START RECORDING");
                    $("#audio_recording_btn").removeClass("example_c_ongoing");
                    alertify.success("Audio recording saved <strong>on PEPPER</strong> at folder specified in config at <strong>'audio_save_dir'</strong>.");
                }
            }
        )
    }

    function mute_audio() {
        $.getJSON(
            "/toggle_audio_mute",
            function(data) {
                console.log(data)
                last_successful_querry = Date.now();
                console.log(data["audio_running"]);
                if (!data["audio_running"]) {
                    $("#audio_mute_btn").html("UNMUTE AUDIO")
                    $("#audio_mute_btn").addClass("example_c_red")
                } else {
                    $("#audio_mute_btn").html("MUTE AUDIO")
                    $("#audio_mute_btn").removeClass("example_c_red")
                }
            }
        );
    }

     // this is ugly but should work: ping server regularly. if no ping arrived in a few seconds, we now tab was closed
    function ping_server() {
        $.getJSON(
            "/camera_tab_keep_alive",
            function(data) {
                console.log(data)
                last_successful_querry = Date.now();
                if (!data["connected"]) {
                    let msg = "Looks like the NAOqi Session has died,\n considered reconnecting the interface to your robot";

                    if (!disconnect_alerted) {
                    // if (true) {
                        disconnect_alerted = true;
                        reload_once_ready = true;
                        dialog = alertify.confirm(
                            "NAOqi Session dead?",
                            msg,
                            function(){},
                            function(){});

                    }
                } else {
                    disconnect_alerted = false;
                    if (typeof dialog != "undefined") {
                        dialog.close()
                    }

                    if (reload_once_ready) {
                        reload_once_ready = false;
                        location.reload();
                    }
                }
            }
        )
    }

    function check_server_alive() {
        now = Date.now();

        diff_millis = now - last_successful_querry;
        diff_s = diff_millis / 1000;

        if (diff_s > 5) {
            if (!alerted_server_dead) {

                // make test request to server to ensure its actually dead...
                console.log("server appears to be dead, sending test request");

                $.ajax({
                    url: "/alive_test",
                    dataType: 'json',
                    success: function(data) {
                        console.log("test rquest worked, resetting timeout");
                        last_successful_querry = Date.now();

                        return // if this works, we don't want the confirm dialog
                    },
                    error: function(data, status, xhr) {
                        console.log("test request did not work...");
                        alerted_server_dead = true;
                        msg = alertify.confirm(
                            "Server dead?",
                            "Server didn't send any reply within five seconds. Consider restarting it via terminal.",
                            function () {alerted_server_dead = false;},  // construtor needs these...
                            function () {alerted_server_dead = false;}
                        )
                    }
                });
            }
            // disconnect_alerted = false;
            //reload_once_ready = true;
        } else {
            if (typeof msg != "undefined") {
                // this doesn't work here :/
                // alertify can't handle multiple confirm instances, hence calling close here would also close the
                // dialogue with the NAOqi session from above...

                // msg.close();
                // alerted_server_dead = false;
                // disconnect_alerted = false;
            }
        }
    }


    setInterval(ping_server, 1000);
    setInterval(check_server_alive, 1000);


</script>
</head>
<body style="background-color: #264653">
    <div>
        <div class="single_cell_div"> 
            <div class="row">
                <h2>Pepper camera stream</h2>
                <img id="bg" src="{{ url_for('video_feed') }}" style="width: 60%;">
            </div>
            <br>
            <div class="row">
                <button class="example_c" id="video_recording_btn" onclick="toggle_video_recording()">START VIDEO RECORDING</button>
                <button class="example_c" id="audio_recording_btn" onclick="toggle_audio_recording()">START AUDIO RECORDING</button>
                <button class="example_c" id="audio_mute_btn" onclick="mute_audio()">MUTE AUDIO</button>
            </div>
            <br>

            <div class="row">
                <p id="camera_record_p"></p>
                <p id="audio_record_p"></p>
            </div>
            <br>
            
        </div>
    </div>

    <script>
        window.addEventListener('beforeunload', function (e) {
            // alert("unloading?")
            $.getJSON(
                "/close_camera_tab",
                function(data) {
                    console.log("sending close tab info to server")
                }
            );
        });
    </script>
    

</body>
</html>