<!DOCTYPE html>
<html>
<head>
<title>WoZ4U - Camera stream</title>
<link rel="shortcut icon" type="image/x-icon" href="../static/imgs/favicon.ico">
<link rel="shortcut icon" href="http://www.example.com/myicon.ico"/>
<link rel="stylesheet" type="text/css" href="../static/style.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type=text/javascript>
    function toggle_video_recording() {
        $.getJSON(
            "/toggle_img_save",
            function(data){
                console.log(data)
                if (data["SAVE_IMGS"]) { // if true means it is recording, so btn says stop recording
                    $("#video_recording_btn").html("STOP RECORDING")
                    $("#video_recording_btn").addClass("example_c_ongoing");
                } else {
                    $("#video_recording_btn").html("START RECORDING")
                    $("#video_recording_btn").removeClass("example_c_ongoing");
                }
            }
        )
    }

    function toggle_audio_recording() {
        $.getJSON(
            "/record_audio_data",
            function(data) {
                console.log(data)
                if (data["now_recording_audio"]) { // if true means it is recording, so btn says stop recording
                    $("#audio_recording_btn").html("STOP RECORDING")
                    $("#audio_recording_btn").addClass("example_c_ongoing");
                } else {
                    $("#audio_recording_btn").html("START RECORDING")
                    $("#audio_recording_btn").removeClass("example_c_ongoing");
                }
            }
        )
    }
    /*
    function toggle_face_detection(){
        $.getJSON(
            "/toggle_face_detection",
            function (data) {
                console.log(data)
            }
        )
    }
    */

</script>
</head>
<body style="background-color: #264653">
    <div>
        <div class="single_cell_div"> 
            <div class="row">
                <h1>Pepper camera stream</h1>
                <img id="bg" src="{{ url_for('video_feed') }}">
            </div>
            <div class="row">
                <button class="example_c" id="video_recording_btn" onclick="toggle_video_recording()">START VIDEO RECORDING</button>
                <button class="example_c" id="audio_recording_btn" onclick="toggle_audio_recording()">START AUDIO RECORDING</button>
                <!-- <button class="example_c" id="face_detection_toggle" onclick="toggle_face_detection()">START FACE DETECTION</button> -->

            </div>
            <br>
            
        </div>
    </div>
    

</body>
</html>