<!DOCTYPE html>
<html>
<head>
<title>WoZ4U - Camera stream</title>
<link rel="shortcut icon" type="image/x-icon" href="../static/favicon.ico">
<link rel="shortcut icon" href="http://www.example.com/myicon.ico"/>
<link rel="stylesheet" type="text/css" href="../static/style.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type=text/javascript>
    function toggle_video_recording() {
        $.getJSON(
            "/toggle_img_save",
            function(data){
                console.log(data);
                if (data["SAVE_IMGS"]) { // if true means it is recording, so btn says stop recording
                    $("#video_recording_btn").html("STOP RECORDING");
                    $("#video_recording_btn").addClass("example_c_ongoing");
                    $("#camera_record_p").html("")
                } else {
                    $("#video_recording_btn").html("START RECORDING");
                    $("#video_recording_btn").removeClass("example_c_ongoing");
                    $("#camera_record_p").html("Images saved at folder specified in config at <strong>'camera_save_dir'</strong>.")
                }
            }
        )
    }

    function toggle_audio_recording() {
        $.getJSON(
            "/record_audio_data",
            function(data) {
                console.log(data);
                if (data["now_recording_audio"]) { // if true means it is recording, so btn says stop recording
                    $("#audio_recording_btn").html("STOP RECORDING");
                    $("#audio_recording_btn").addClass("example_c_ongoing");
                    $("#audio_record_p").html("");
                } else {
                    $("#audio_recording_btn").html("START RECORDING");
                    $("#audio_recording_btn").removeClass("example_c_ongoing");
                    $("#audio_record_p").html("Audio recording saved <strong>on PEPPER</strong> at folder specified in config at <strong>'audio_save_dir'</strong>.");
                }
            }
        )
    }

    function mute_audio() {
        $.getJSON(
            "/toggle_audio_mute",
            function(data) {
                console.log(data)
                console.log(data["audio_running"]);
                if (!data["audio_running"]) {
                    $("#audio_mute_btn").html("UNMUTE AUDIO")
                    $("#audio_mute_btn").addClass("example_c_red")
                } else {
                    $("#audio_mute_btn").html("MUTE AUDIO")
                    $("#audio_mute_btn").removeClass("example_c_red")
                }
            }
        );
    }

     // this is ugly but should work: ping server regularly. if no ping arrived in a few seconds, we now tab was closed
    function ping_server() {
        $.getJSON(
            "/camera_tab_keep_alive",
            function(data) {
                console.log(data)
            })
    }

    setInterval(ping_server, 1000);


</script>
</head>
<body style="background-color: #264653">
    <div>
        <div class="single_cell_div"> 
            <div class="row">
                <h1>Pepper camera stream</h1>
                <img id="bg" src="{{ url_for('video_feed') }}" style="width: 60%;">
            </div>
            <br>
            <div class="row">
                <button class="example_c" id="video_recording_btn" onclick="toggle_video_recording()">START VIDEO RECORDING</button>
                <button class="example_c" id="audio_recording_btn" onclick="toggle_audio_recording()">START AUDIO RECORDING</button>
                <button class="example_c" id="audio_mute_btn" onclick="mute_audio()">MUTE AUDIO</button>
            </div>
            <br>

            <div class="row">
                <p id="camera_record_p"></p>
                <p id="audio_record_p"></p>
            </div>
            <br>
            
        </div>
    </div>
    

</body>
</html>