<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="../static/style.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type=text/javascript>
  //function select_robot(robot_ip){
  function select_robot(){
    robot_ip = document.getElementById("pepper_select_ips").value; // get ip from select option
    $("#connect_btn").css("background-color", "#E9C46A"); // set color of button to yellow during processing
    $.getJSON( // async call flask function with arguments
      "/select_robot?ip=" + robot_ip,
      function(data) {
        console.log(data);
      }
    ).done(function() {
      $("#connect_btn").css("background-color", "#2A9D8F"); // set color of button to green on success
  }).fail(function() {
    $("#connect_btn").css("background-color", "#E76F51"); // set color of button to red on fail  });
  })
  };
</script>
</head>
<body>

<div class="grid-container">
  <!-- Pepper  select -->
  <div class="pepper_select">
    <h2>Select robot</h2>
    <div class="row">
      <select name="pepper_ips" id="pepper_select_ips">
        <option value="192.168.10.1">192.168.10.1</option>
        <option value="192.168.10.2">192.168.10.2</option>
        <option value="192.168.10.3">192.168.10.3</option>
      </select>
      <br>
      <br>
    </div>


      <div class="row">
        <a href="#" onclick="select_robot()">
          <button class="speech_btn" id="connect_btn">Connect</button>
        </a>
      </div>
      <br>
  </div>

  <!-- Pepper  settings -->
  <div class="autonomous_life_settings">
    <h2>Autonomous life settings</h2>

    <!-- COLUM 1-->
    <!-- <div style="width: 50%; float: left;"> -->
    <div style="width: 100%; float: left;">
      <div class="row">
        <div class="btn_label_wrapper">
          <span>
            Autonomous state: 
          </span> 
        </div>
        
        <div class="btn_wrapper">
          <select name="pepper_ips" id="pepper_select_ips">
            <option value="Interactive">Interactive</option>
            <option value="Solitary">Solitary</option>
            <option value="Safeguard">Safeguard</option>
            <option value="Disabled">Disabled</option>
          </select>
          <button>Set</button>
        </div>

      </div>
      <br>

      <div class="row">
        <div class="btn_label_wrapper">
          <span>Toggle collision avoidance:</span>
        </div>
        <div class="btn_wrapper">
          <button onclick="" class="toggle_btw">On</button>
        </div>
      </div>
      <br>

      <div class="row">
        <div class="btn_label_wrapper">
          <span>Toggle breathing: </span>
        </div>
        <div class="btn_wrapper">
          <button onclick="myFunction()" class="toggle_btw">On</button>
        </div>
      </div>
      <br>

      <div class="row">
        <div class="btn_label_wrapper">
          <span>Toggle blinking: </span>
        </div>
        <div class="btn_wrapper">
          <button onclick="myFunction()" class="toggle_btw">On</button>
        </div>
      </div>
      <br>

      <div class="row">
        <div class="btn_label_wrapper">
          <span>Toggle basic awareness: </span>
        </div>
        <div class="btn_wrapper">
          <button onclick="myFunction()" class="toggle_btw">On</button>
        </div>
      </div>
      <br>

    </div>

  </div>

  <!-- Pepper  speech commands -->
  <div class="pepper_speech">
    <h2>Pepper speech</h2>

    <div class="row">
      <span>Adjust volume</span>
      <input type="range" min="1" max="100" value="50">
    </div>
    <br>

    <div class="row">
      <span>Set speed</span>
      <input type="number" value="1">
    </div>
    <br>

    <div class="row">
      <span>Set pitch</span>
      <input type="number" value="1">
  </div>
  <br>
    
    <div class="row">
      <input type="text" placeholder="custom msg">
      <button class="speech_btn">Say it!</button>
    </div>
    <br>
        
    <div class="row">
      <div class="speech_lbl_wrapper">
        <span>Voice cmd 1</span>
      </div>
      <div class="speech_btn_wrapper">
        <button class="speech_btn">Say it!</button>
      </div>
    </div>
    <br>

    <div class="row">
      <div class="speech_lbl_wrapper">
        <span>Voice cmd 2</span>
      </div>
      <div class="speech_btn_wrapper">
        <button class="speech_btn">Say it!</button>
      </div>
    </div>
    <br>

    <div class="row">
      <div class="speech_lbl_wrapper">
        <span>Voice cmd 3</span>
      </div>
      <div class="speech_btn_wrapper">
        <button class="speech_btn">Say it!</button>
      </div>
    </div>
    <br>

    <div class="row">
      <div class="speech_lbl_wrapper">
        <span>Voice cmd 4</span>
      </div>
      <div class="speech_btn_wrapper">
        <button class="speech_btn">Say it!</button>
      </div>
    </div>
    <br>

    <div class="row">
      <div class="speech_lbl_wrapper">
        <span>Voice cmd 5</span>
      </div>
      <div class="speech_btn_wrapper">
        <button class="speech_btn">Say it!</button>
      </div>
    </div>
    <br>

    <div class="row">
      <div class="speech_lbl_wrapper">
        <span>Voice cmd 6</span>
      </div>
      <div class="speech_btn_wrapper">
        <button class="speech_btn">Say it!</button>
      </div>
    </div>
    <br>

    <div class="row">
      <div class="speech_lbl_wrapper">
        <span>Voice cmd 7</span>
      </div>
      <div class="speech_btn_wrapper">
        <button class="speech_btn">Say it!</button>
      </div>
    </div>
    <br>

    <div class="row">
      <div class="speech_lbl_wrapper">
        <span>Voice cmd 8</span>
      </div>
      <div class="speech_btn_wrapper">
        <button class="speech_btn">Say it!</button>
      </div>
    </div>
    <br>

    <div class="row">
      <div class="speech_lbl_wrapper">
        <span>Voice cmd 9</span>
      </div>
      <div class="speech_btn_wrapper">
        <button class="speech_btn">Say it!</button>
      </div>
    </div>
    <br>

    <div class="row">
      <div class="speech_lbl_wrapper">
        <span>Voice cmd 10</span>
      </div>
      <div class="speech_btn_wrapper">
        <button class="speech_btn">Say it!</button>
      </div>
    </div>

  </div>

  <!-- Camera stream  -->
  <div class="camera">
    <h2>Camera</h2>
    <img src="../static/imgs/umea_logo.png" style="max-width: 400px">
  </div>  

  <!-- Pepper  motion comands -->
  <div class="pepper_motion">
    <h2>Pepper motion</h2>

    <div class="row">
      <img src="../static/imgs/arrow_keys.png" style="max-height:150px;">
      <br>
      <br>
      <table style="width:100%">
        <tr>
          <td style="text-align: right;">Move head</td>
          <td style="text-align: left;">: Arrow keys</td>
        </tr>
        <tr>
          <td style="text-align: right;">Rotate base</td>
          <td style="text-align: left;">: ALT + Arrow keys</td>
        </tr>
        <tr>
          <td style="text-align: right;">Drive</td>
          <td style="text-align: left;">: FN + Arrow keys</td>
        </tr>
      </table>
    </div>
    <br>

    <div class="row">
      <div class="speech_lbl_wrapper">
        <span>Motion 1</span>
      </div>
      <div class="speech_btn_wrapper">
        <button class="speech_btn">Execute</button>
      </div>
    </div>
    <br>

    <div class="row">
      <div class="speech_lbl_wrapper">
        <span>Motion 2</span>
      </div>
      <div class="speech_btn_wrapper">
        <button class="speech_btn">Execute</button>
      </div>
    </div>
    <br>

    <div class="row">
      <div class="speech_lbl_wrapper">
        <span>Motion 3</span>
      </div>
      <div class="speech_btn_wrapper">
        <button class="speech_btn">Execute</button>
      </div>
    </div>
    <br>

    <div class="row">
      <div class="speech_lbl_wrapper">
        <span>Motion 4</span>
      </div>
      <div class="speech_btn_wrapper">
        <button class="speech_btn">Execute</button>
      </div>
    </div>
    <br>

    <div class="row">
      <div class="speech_lbl_wrapper">
        <span>Motion 5</span>
      </div>
      <div class="speech_btn_wrapper">
        <button class="speech_btn">Execute</button>
      </div>
    </div>
    <br>

    <div class="row">
      <div class="speech_lbl_wrapper">
        <span>Motion 6</span>
      </div>
      <div class="speech_btn_wrapper">
        <button class="speech_btn">Execute</button>
      </div>
    </div>
    <br>

    <div class="row">
      <div class="speech_lbl_wrapper">
        <span>Motion 7</span>
      </div>
      <div class="speech_btn_wrapper">
        <button class="speech_btn">Execute</button>
      </div>
    </div>
    <br>

    <div class="row">
      <div class="speech_lbl_wrapper">
        <span>Motion 8</span>
      </div>
      <div class="speech_btn_wrapper">
        <button class="speech_btn">Execute</button>
      </div>
    </div>
    <br>

    <div class="row">
      <div class="speech_lbl_wrapper">
        <span>Motion 9</span>
      </div>
      <div class="speech_btn_wrapper">
        <button class="speech_btn">Execute</button>
      </div>
    </div>
    <br>

    <div class="row">
      <div class="speech_lbl_wrapper">
        <span>Motion 10</span>
      </div>
      <div class="speech_btn_wrapper">
        <button class="speech_btn">Execute</button>
      </div>
    </div>
    <br>

  </div>

  <!-- Footer -->
  <div class="footer">
    <h2>Other</h2>

    <div class="col_one_of_three">

      <div class="row">
        <div class="btn_label_wrapper">
          <span>Toggle eye light</span>
        </div>
        <div class="btn_wrapper">
          <button onclick="myFunction()" class="toggle_btw">On</button>
        </div>
      </div>
      <br>

      <div class="row">
        <div class="btn_label_wrapper">
          <span>Toggle ear light</span>
        </div>
        <div class="btn_wrapper">
          <button onclick="myFunction()" class="toggle_btw">On</button>
        </div>
      </div>
      <br>

    </div>

    <div class="col_one_of_three">
      <div class="row">
        <button>Arbitrary action 1</button>
      </div>
      <br>

      <div class="row">
        <button>Arbitrary action 2</button>
      </div>
      <br>

    </div>

    <div class="col_one_of_three">
      <div class="row">
        <button>Arbitrary action 3</button>
      </div>
      <br>

      <div class="row">
        <button>Arbitrary action 4</button>
      </div>
      <br>

    </div>
  </div>
</div>

</body>
</html>
