<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="../static/style.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type=text/javascript>

  //applies styling to a toggle button, depending on the value it should take
  function toggle_btn_handle(identifier, bool, onText="ON", offText="OFF"){
    if (bool) {
      $(identifier).addClass("example_c_green");
      $(identifier).removeClass("example_c_red");
      $(identifier).html(onText)
    } else {
      $(identifier).addClass("example_c_red");
      $(identifier).removeClass("example_c_green");
      $(identifier).html(offText)
    }
  }

  function update_states() {
    $.getJSON(
      "/querry_states",
      function(data) {
        // console.log(data)
        Object.keys(data).forEach(key => {
          // console.log(key, data[key]);
          // console.log($(key).get(0).nodeName)
          if ($(key).get(0).nodeName == "BUTTON") {
            toggle_btn_handle(key, data[key])
          } else  if ($(key).get(0).nodeName == "SPAN"){
            // motion vector
            $(key).text("[" + data[key].toString() + "]")

          } else if ($(key).get(0).nodeName == "INPUT") {
            if ($(key).attr("type") == "range") {
              if (key != "#voice_speed_input"){
                // volume and pitch must be multiplied by 100 to so that we get a proper range...
                data[key] *= 100
              }
              $(key).val(data[key])
            } else if ($(key).attr("type") == "text") {
              $(key).val(data[key])
            }

          } else if ($(key).get(0).nodeName == "SELECT") {
            // autonomous state and engagement mode
            //console.log(key, data[key]);
            $(key).val(data[key]);
          }
        });
      }
    )
  }

  //function connect_robot(robot_ip){
  function connect_robot(ip=""){
    if (ip=="") {
      robot_ip = document.getElementById("pepper_select_ips").value; // get ip from select option
    } else {
      robot_ip = ip
    }

    $("#connect_btn").html("..."); // set btn text to ...
    $("#connect_btn").addClass("example_c_ongoing"); // give it the css class for "processing"
    $.getJSON( // async call flask function with arguments
      "/connect_robot?ip=" + robot_ip,
      function(data) {
        console.log(data);

        $("#tangential_collision").val(data["tangential_collision"])
        $("#orthogonal_collision").val(data["orthogonal_collision"])

        $("#autonomous_states").val(data["autonomous_state"]);
        $("#volume_slider").val(data["volume_lvl"] * 100)
        $("#voice_pitch_input").val(data["voice_pitch"] * 100)
        $("#voice_speed_input").val(data["voice_speed"])

        toggle_btn_handle("#toggle_btn_blinking", data["blinking_enabled"])
        toggle_btn_handle("#toggle_btn_basic_awareness", data["ba_is_running"])
        toggle_btn_handle("#toggle_btn_head_breathing", data["head_breathing"])
        toggle_btn_handle("#toggle_btn_arms_breathing", data["arms_breathing"])
        toggle_btn_handle("#toggle_btn_body_breathing", data["body_breathing"])
        toggle_btn_handle("#toggle_btn_legs_breathing", data["legs_breathing"])

        $("#motion_vector").text("[" + data["velocity_vector"].toString() + "]")

      }).done(function() {
      $("#connect_btn").html("Connected"); // set btn text to ...
      $("#connect_btn").removeClass("example_c_ongoing"); // remove class for ongoing
      $("#connect_btn").addClass("example_c_green"); // give class for succes

      $(":button").prop('disabled', false); // enable all btns on successful connect
      $(":input").prop('disabled', false); // enable all the inputs

      // periodically querry all states
      setInterval(update_states, 5000);

    }).fail(function() {
      $("#connect_btn").html("FAILURE"); // set btn text to ...
      $("#connect_btn").css("background-color", "#E76F51"); // set color of button to red on fail  });
    })
  };

  function set_autonomous_state(){
    state = document.getElementById("autonomous_states").value;
    $("#auto_state_set").html("...")
    $("#auto_state_set").addClass("example_c_ongoing"); // give it the css class for "processing"
    $.getJSON( // async call flask function with arguments
      "/set_autonomous_state?state=" + state,
      function(data) {
        console.log(data);
    }).done(function() {
      $("#auto_state_set").html("Set")
      $("#auto_state_set").removeClass("example_c_ongoing"); // remove class for ongoing
      $("#auto_state_set").addClass("example_c_green"); // give class for succes
    }).fail(function() {
      $("#auto_state_set").removeClass("example_c_ongoing"); // remove class for ongoing
      $("#auto_state_set").addClass("example_c_red"); // give class for succes
      $("#auto_state_set").html("FAIL")

    })
  }

  function toggle_setting(setting){
    $("#toggle_btn_" + setting).addClass("example_c_ongoing"); // give it the css class for "processing"
    $("#toggle_btn_" + setting).removeClass("example_c_green"); // remove class for ongoing
    $("#toggle_btn_" + setting).removeClass("example_c_red"); // remove class for ongoing

    let curr_state =  $("#toggle_btn_" + setting).html()

    $("#toggle_btn_" + setting).html("...")

    let url = "/toggle_setting?setting=" + setting + "&curr_state=" + curr_state
    console.log(url)
    $.getJSON( // async call flask function with arguments
      url,
      function(data) {
        console.log(data);
        if (curr_state == "ON") {
          $("#toggle_btn_" + setting).html("Off")
          $("#toggle_btn_" + setting).removeClass("example_c_ongoing"); // remove class for ongoing
          $("#toggle_btn_" + setting).addClass("example_c_red"); // give class for succes
        } else {
          if (setting == "blinking") {
            if (document.getElementById("autonomous_states").value != "interactive") {
              alert("Pepper only blinks when autonomous state is set to 'Interactive'!")
            }
          }
          $("#toggle_btn_" + setting).html("ON")
          $("#toggle_btn_" + setting).removeClass("example_c_ongoing"); // remove class for ongoing
          $("#toggle_btn_" + setting).addClass("example_c_green"); // give class for succes
        }
      }
    )
  }

  function say_custom_text() {
    let text = $("#custom_text_msg").val();

    $("#custom_text_btn").html("..."); // set btn text to ...
    $("#custom_text_btn").addClass("example_c_ongoing"); // give it the css class for "processing"
    
    $.getJSON(
      "/say_text?msg=" + text,
      function(data) {
        console.log(data);
      }
    ).done(function() {
      $("#custom_text_btn").html("Say it")
      $("#custom_text_btn").removeClass("example_c_ongoing")
    })
  }

  function say_predefined_text(text, index) {
    $("#voice_cmd_"+index).html("..."); // set btn text to ...
    $("#voice_cmd_"+index).addClass("example_c_ongoing"); // give it the css class for "processing"
    
    $.getJSON(
      "/say_text?msg=" + text,
      function(data) {
        console.log(data);
      }
    ).done(function() {
      $("#voice_cmd_"+index).html("Say it")
      $("#voice_cmd_"+index).removeClass("example_c_ongoing")
    })
  }

  function play_audio(name, index) {

    // depending on value of btn we either start playing audio or interrupt it

    console.log($("#audio_file_"+index).text())

    if ($("#audio_file_"+index).text() == "PLAY") {
      $("#audio_file_"+index).html("STOP");
      $("#audio_file_"+index).addClass("example_c_ongoing");

      console.log(name)
      console.log(index)

      $.getJSON(
      "/play_audio?index=" + index,
      function(data) {
        console.log(data);
      }
    ).done(function() {
      $("#audio_file_"+index).html("PLAY")
      $("#audio_file_"+index).removeClass("example_c_ongoing")
    })

    } else {
      // clearing the tablet removes the browser context though which the js audio signal is being played...
      $.getJSON(
        "/clear_tablet",
        function(data) {
          console.log(data)
        }).done(function() {
          $("#image_btn_"+index).html("SHOW");
          $("#image_btn_"+index).removeClass("example_c_ongoing")
      })
    }
  }

  function show_img(img_name, index) {
    //depending on the state of the button, we either want to show or hide an image...
    if ($("#image_btn_"+index).text() == "SHOW") {
      // show the image on the tablet
      $.getJSON(
      "/show_img/" + img_name,
      function(data) {
        console.log(data);
      }).done(function() {
        $("#image_btn_"+index).html("HIDE"); // set btn text
        $("#image_btn_"+index).addClass("example_c_ongoing")
      })
    } else {
      // clear the image from the tablet
      $.getJSON(
        "/clear_tablet",
        function(data) {
          console.log(data)
        }).done(function() {
          $("#image_btn_"+index).html("SHOW"); // set btn text
          $("#image_btn_"+index).removeClass("example_c_ongoing")
      })
    }
    
    // iter over all buttons and reset style, except for the one that is currently being displayed
    // https://stackoverflow.com/questions/5376431/wildcards-in-jquery-selectors
    $("[id^=image_btn_]").each(function( iter_ind ) {
      if (iter_ind != index) {
        $("#image_btn_" + iter_ind).html("SHOW")
        $("#image_btn_" + iter_ind).removeClass("example_c_ongoing")
      }
  });
  }

  function set_engagement_state() {
    state = document.getElementById("engagement_states").value;
    $("#engagement_state_set").html("...")
    $("#engagement_state_set").addClass("example_c_ongoing"); // give it the css class for "processing"
    $.getJSON( // async call flask function with arguments
      "/set_engagement_state?state=" + state,
      function(data) {
        console.log(data);
      }
    ).done(function() {
      $("#engagement_state_set").html("Set")
      $("#engagement_state_set").removeClass("example_c_ongoing"); // remove class for ongoing
      $("#engagement_state_set").addClass("example_c_green"); // give class for succes
    }).fail(function() {
      $("#engagement_state_set").removeClass("example_c_ongoing"); // remove class for ongoing
      $("#engagement_state_set").addClass("example_c_red"); // give class for succes
      $("#engagement_state_set").html("FAIL")

    })
  }

  function setVolume(reset=false) {
    if (reset) {
      target_volume = 10
      $("#volume_slider").val(10)
    } else {
      target_volume = $("#volume_slider").val()
    }
    $.getJSON(
      "/adjust_volume?volume=" + target_volume,
      function(data){
        console.log(data);
      }
    );
  }

  function exec_anim_speech(name, index) {
    $("#anim_speech_btn_" + index).html("...")
    $("#anim_speech_btn_" + index).addClass("example_c_ongoing"); // give it the css class for "processing"
    $.getJSON(
      "exec_anim_speech?index=" + index,
      function(data){
        console.log(data)
      }
    ).done(function() {
      $("#anim_speech_btn_" + index).html("EXECUTE")
      $("#anim_speech_btn_" + index).removeClass("example_c_ongoing"); // remove class for ongoing
    });
  }

  function exec_gesture(name, index) {
    $("#gesture_btn_" + index).html("...")
    $("#gesture_btn_" + index).addClass("example_c_ongoing"); // give it the css class for "processing"
    $.getJSON(
      "exec_gesture?index=" + index,
      function(data){
        console.log(data)
      }
    ).done(function() {
      $("#gesture_btn_" + index).html("EXECUTE")
      $("#gesture_btn_" + index).removeClass("example_c_ongoing"); // remove class for ongoing
    });
  }

  function exec_custom_gesture() {
    $("#custom_gesture_btn").html("...")
    $("#custom_gesture_btn").addClass("example_c_ongoing"); // give it the css class for "processing"

    let gesture_string = $("#custom_gesture_string").val();
    gesture_string = gesture_string.trim()

    gesture_string = encodeURIComponent(gesture_string)

    console.log(gesture_string)

    $.getJSON(
      "exec_custom_gesture?string=" + gesture_string,
      function(data){
        console.log(data)
      }
    ).done(function() {
      $("#custom_gesture_btn").html("EXECUTE")
      $("#custom_gesture_btn").removeClass("example_c_ongoing"); // remove class for ongoing
    });
  }

  function set_tts_param(param, reset=false) {
    if (param == "speed") {
      if (reset){
        target_val = 100
        $("#voice_speed_input").val(100);
      } else {
        target_val = $("#voice_speed_input").val();
      }
    } else {
      if (reset) {
        target_val = 100
        $("#voice_pitch_input").val(100);

      } else {
        target_val = $("#voice_pitch_input").val();
      }
    }
    $.getJSON(
      "/set_tts_param?param=" + param + "&value=" + target_val,
      function(data){
        console.log(data);
      }
    );
  }

  function add_ongoing(identifier) {
    $(identifier).removeClass("example_c_green")
    $(identifier).addClass("example_c_ongoing")
  }

  function set_collision_avoidance(type) {
    // 
    bt_identifier = ""
    if (type == "tangential") {
      bt_identifier = "#tangential_collision_set"
      value = $("#tangential_collision").val()
      payload = "?param=Tangential&value=" + value
    } else {
      bt_identifier= "#orthogonal_collision_set"
      value = $("#orthogonal_collision").val()
      payload = "?param=Orthogonal&value=" + value
    }

    // set corresponding btn 
    $(bt_identifier).html("...")
    $(bt_identifier).addClass("example_c_ongoing");

    url = "/set_collision_radius" + payload
    console.log(url)

    $.getJSON(
      url,
      function(data){
        console.log(data);
      }).done(function() {
      $(bt_identifier).html("SET")
      $(bt_identifier).removeClass("example_c_ongoing"); // remove class for ongoing
    });
  }

  function enter_resting_pos() {
    $.getJSON(
      "/resting_position",
      function(data){
        console.log(data);
      }
    )
  }

  function netural_stand_position() {
    $.getJSON(
      "/netural_stand_position",
      function(data){
        console.log(data);
      }
    )
  }

  function show_camera_stream() {
    $.getJSON(
      "/camera_view"
    )
  }

  //keyboard listener for keyboard control of pepper motors
  document.addEventListener('keydown', function(event) {
    console.log(event.key)

    // DRIVING
    if (event.altKey && event.key === "ArrowUp" && !event.shiftKey ) {
      $.getJSON(
        "/update_pepper_velocities?axis=x&val=+0.2",
        function(data){
          console.log(data);
          $("#motion_vector").text("[" + data["x_vel"] + ", " + data["y_vel"] + ", " + data["theta_vel"] + "]")
        })
      } else if (event.altKey && event.key === "ArrowDown" && !event.shiftKey ) {
      $.getJSON(
        "/update_pepper_velocities?axis=x&val=-0.2",
        function(data){
          console.log(data);
          $("#motion_vector").text("[" + data["x_vel"] + ", " + data["y_vel"] + ", " + data["theta_vel"] + "]")
        })
      } else if (event.altKey && event.key === "ArrowLeft" && !event.shiftKey ) {
      $.getJSON(
        "/update_pepper_velocities?axis=theta&val=+0.2",
        function(data){
          console.log(data);
          $("#motion_vector").text("[" + data["x_vel"] + ", " + data["y_vel"] + ", " + data["theta_vel"] + "]")
      })
    } else if (event.altKey && event.key === "ArrowRight" && !event.shiftKey ) {
      $.getJSON(
        "/update_pepper_velocities?axis=theta&val=-0.2",
        function(data){
          console.log(data);
          $("#motion_vector").text("[" + data["x_vel"] + ", " + data["y_vel"] + ", " + data["theta_vel"] + "]")
      })
    // STOP DRIVING
    } else if (event.ctrlKey && event.key === "Backspace") { // ctrl + backspace
      $.getJSON(
        "/stop_motion",
        function(data) { 
          console.log(data)
          $("#motion_vector").text("[" + data["x_vel"] + ", " + data["y_vel"] + ", " + data["theta_vel"] + "]")
        })
    // HEAD MOVEMENT
    } if (event.key === "ArrowUp" && !event.altKey && !event.shiftKey ) {
      $.getJSON(
        "/move_joint?axis=HeadPitch&val=+0.2",
        function(data){
          console.log(data);
          $("#motion_vector").text("[" + data["x_vel"] + ", " + data["y_vel"] + ", " + data["theta_vel"] + "]")
        })
      } else if (event.key === "ArrowDown" && !event.altKey && !event.shiftKey ) {
      $.getJSON(
        "/move_joint?axis=HeadPitch&val=-0.2",
        function(data){
          console.log(data);
          $("#motion_vector").text("[" + data["x_vel"] + ", " + data["y_vel"] + ", " + data["theta_vel"] + "]")
        })
      } else if (event.key === "ArrowLeft" && !event.altKey && !event.shiftKey ) {
      $.getJSON(
        "/move_joint?axis=HeadYaw&val=+0.2",
        function(data){
          console.log(data);
          $("#motion_vector").text("[" + data["x_vel"] + ", " + data["y_vel"] + ", " + data["theta_vel"] + "]")
      })
    } else if (event.key === "ArrowRight" && !event.altKey && !event.shiftKey ) {
      $.getJSON(
        "/move_joint?axis=HeadYaw&val=-0.2",
        function(data){
          console.log(data);
          $("#motion_vector").text("[" + data["x_vel"] + ", " + data["y_vel"] + ", " + data["theta_vel"] + "]")
      })
    } // HIP MOVEMENT
      else if (event.key === "ArrowUp" && !event.altKey && event.shiftKey) {
      $.getJSON(
        "/move_joint?axis=HipPitch&val=-0.2",
        function(data){
          console.log(data);
          $("#motion_vector").text("[" + data["x_vel"] + ", " + data["y_vel"] + ", " + data["theta_vel"] + "]")
        })
      } else if (event.key === "ArrowDown" && !event.altKey && event.shiftKey ) {
      $.getJSON(
        "/move_joint?axis=HipPitch&val=+0.2",
        function(data){
          console.log(data);
          $("#motion_vector").text("[" + data["x_vel"] + ", " + data["y_vel"] + ", " + data["theta_vel"] + "]")
        })
      } else if (event.key === "ArrowLeft" && !event.altKey && event.shiftKey ) {
      $.getJSON(
        "/move_joint?axis=HipRoll&val=+0.2",
        function(data){
          console.log(data);
          $("#motion_vector").text("[" + data["x_vel"] + ", " + data["y_vel"] + ", " + data["theta_vel"] + "]")
      })
    } else if (event.key === "ArrowRight" && !event.altKey && event.shiftKey) {
      $.getJSON(
        "/move_joint?axis=HipRoll&val=-0.2",
        function(data){
          console.log(data);
          $("#motion_vector").text("[" + data["x_vel"] + ", " + data["y_vel"] + ", " + data["theta_vel"] + "]")
      })
    }
  });



  // for reconnecting upon reload of site
  {% if reconnect %}
    console.log("reconnecting")
    connect_robot(ip='{{reconnect_ip}}')
  {% endif %}

  function disable_all() {
    $(":button").prop('disabled', true); // Disable all the buttons
    $(":input").prop('disabled', true); // Disable all the inputs
    $("#connect_btn").prop("disabled", false) // enable connect btn
    $("#pepper_select_ips").prop("disabled", false) // enable pepper dropdown

  }

  //disable all elements on load
  window.onload = disable_all;

</script>
</head>
<body>

<div class="grid-container">
  <!-- Pepper  select -->
  <div class="pepper_select">
    <h2>Select robot</h2>
    <div class="row">
      <select name="pepper_ips" id="pepper_select_ips">
        {%for ip in config["pepper_ips"]%}
          <option value="{{ip}}">{{ip}}</option>
        {%endfor%} 
      </select>
      <br>
      <br>
    </div>


      <div class="row">
        <a href="#" onclick="connect_robot(ip='')">
          <button class="example_c" id="connect_btn">Connect</button>
        </a>
      </div>
      <br>

      <div class="row">
        <a href="/camera_view" target="_blank">
          <button class="example_c" id="view_camera_stream">Camera & Microphone recording</button>
        </a>
      </div>
      <br>

  </div>

  <div class="tablet">
    <h2>Pepper Tablet</h2>

    {%for img in config["images"]%}
      <!-- Here, we iterate over all the messages and create labels and buttons for each-->
      <div class="row">
        <div class="speech_lbl_wrapper">
          <span>{{img["title"]}}</span>
        </div>
        <div class="speech_btn_wrapper">
          <button class="example_c" 
          id="image_btn_{{loop.index0}}" 
          onclick="show_img('{{img["file_name"]}}', {{loop.index0}})">SHOW</button>
        </div>
      </div>
      <br>

      {%endfor%} 

    
  </div>


  <!-- Pepper  settings -->
  <div class="autonomous_life_settings">
    <h2>Autonomous life settings</h2>

    <!-- <div style="width: 50%; float: left;"> -->
    <div style="width: 100%; float: left;">
      <div class="row">
        <div class="btn_label_wrapper">
          <a href="http://doc.aldebaran.com/2-5/ref/life/state_machine_management.html#autonomouslife-states#states" target="blank">
            Autonomous state: 
          </a> 
        </div>
        
        <div class="btn_wrapper">
          <select name="pepper_ips" id="autonomous_states" onchange="add_ongoing('#auto_state_set')">
            <option value="interactive">Interactive</option>
            <option value="solitary">Solitary</option>
            <option value="safeguard">Safeguard</option>
            <option value="disabled">Disabled</option>
          </select>
          <a href="#" onclick="set_autonomous_state()">
            <button class="example_c" id="auto_state_set">Set</button>
          </a>
        </div>

      </div>
      <br>

      <div class="row">
        <div class="btn_label_wrapper">
          <a href="http://doc.aldebaran.com/2-5/naoqi/motion/reflexes-external-collision.html#pepp-pepper" target="blank">
            Tangential collision avoidance:
          </a>
        </div>
        <input 
        type="text" 
        placeholder="1" 
        id="tangential_collision" 
        style="width: 30%; float: left; margin-left: 10px;"
        onchange="add_ongoing('#tangential_collision_set')">
        <button id="tangential_collision_set" onclick="set_collision_avoidance('tangential')" class="example_c">Set</button>
      </div>
      <br>

      <div class="row">
        <div class="btn_label_wrapper">
          <a href="http://doc.aldebaran.com/2-5/naoqi/motion/reflexes-external-collision.html#pepp-pepper" target="blank">
            Orthogonal collision avoidance:
          </a>
        </div>
        <input 
        type="text" 
        placeholder="1" 
        id="orthogonal_collision" 
        style="width: 30%; float: left; margin-left: 10px;"
        onchange="add_ongoing('#orthogonal_collision_set')">
        <button id="orthogonal_collision_set" onclick="set_collision_avoidance('orthogonal')" class="example_c">Set</button>
      </div>
      <br>

      <div class="row">
        <div class="btn_label_wrapper">
          <a href="http://doc.aldebaran.com/2-4/naoqi/interaction/autonomousabilities/alautonomousblinking.html#alautonomousblinking" target=blank>
            Toggle blinking: 
          </a>
        </div>
        <div class="btn_wrapper">
          <button 
          id="toggle_btn_blinking" 
          onclick="toggle_setting('blinking')" 
          class="example_c"
          title="Current status">
          On
        </button>
        </div>
      </div>
      <br>

      <div class="row">
        <div class="btn_label_wrapper">
          <a href="http://doc.aldebaran.com/2-4/naoqi/interaction/autonomousabilities/albasicawareness.html#albasicawareness" target=blank>
            Toggle basic awareness: 
          </a>
        </div>
        <div class="btn_wrapper">
          <button 
          id="toggle_btn_basic_awareness" 
          onclick="toggle_setting('basic_awareness')" 
          class="example_c"
          title="Current status">
          On
        </button>
        </div>
      </div>
      <br>

      <div class="row" style="position: relative;">
        <div class="btn_label_wrapper">
          <a href="http://doc.aldebaran.com/2-4/naoqi/interaction/autonomousabilities/albasicawareness.html#engagement-modes" target=blank>
            Engagement mode: 
          </a> 
        </div>
        
        <div class="btn_wrapper">
          <select 
          name="engagement_state" 
          id="engagement_states"
          onchange="add_ongoing('#engagement_state_set')">
            <option value="Unengaged">Unengaged</option>
            <option value="SemiEngaged">SemiEngaged</option>
            <option value="FullyEngaged">FullyEngaged</option>
          </select>
          <a href="#" onclick="set_engagement_state()">
            <button class="example_c" id="engagement_state_set">Set</button>
          </a>
        </div>

      </div>
      <br>

      <div class="row">
        <div class="btn_label_wrapper">
          <a href="http://doc.aldebaran.com/2-1/naoqi/motion/idle.html#breath-configuration" target="blank">
            Head breathing: 
          </a>
        </div>
        <div class="btn_wrapper">
          <button 
          id="toggle_btn_head_breathing" 
          onclick="toggle_setting('head_breathing')" 
          class="example_c"
          title="Current status">
          On
        </button>
        </div>
      </div>
      <br>

      <div class="row">
        <div class="btn_label_wrapper">
          <a href="http://doc.aldebaran.com/2-1/naoqi/motion/idle.html#breath-configuration" target=blank>
            Arms breathing: 
          </a>
        </div>
        <div class="btn_wrapper">
          <button 
          id="toggle_btn_arms_breathing" 
          onclick="toggle_setting('arms_breathing')" 
          class="example_c"
          title="Current status">
          On
        </button>
        </div>
      </div>
      <br>

      <div class="row">
        <div class="btn_label_wrapper">
          <a href="http://doc.aldebaran.com/2-1/naoqi/motion/idle.html#breath-configuration" target="blank">
            Body breathing: 
          </a>
        </div>
        <div class="btn_wrapper">
          <button 
          id="toggle_btn_body_breathing" 
          onclick="toggle_setting('body_breathing')" 
          class="example_c"
          title="Current status">
          On
        </button>
        </div>
      </div>
      <br>

      <div class="row">
        <div class="btn_label_wrapper">
          <a href="http://doc.aldebaran.com/2-1/naoqi/motion/idle.html#breath-configuration" target="blank">
            Legs breathing: 
          </a>
        </div>
        <div class="btn_wrapper">
          <button 
          id="toggle_btn_legs_breathing" 
          onclick="toggle_setting('legs_breathing')" 
          class="example_c"
          title="Current status">
          On
        </button>
        </div>
      </div>
      <br>

    </div>

  </div>

  <!-- Pepper  speech commands -->
  <div class="pepper_speech">
    <h2>Pepper speech</h2>

    <table style="width:100%">
      <tr>
        <td>Adjust volume</td>
        <td>
          <input 
          id="volume_slider" 
          type="range" 
          min="1" max="100" value="50" 
          onchange="setVolume()"
          style="width: 100%;">
        </td>
        <td>
          <button class="example_c" onclick="setVolume('speed', reset=true)">RESET</button>
        </td>
      </tr>
      <tr>
        <td>Voice speed</td>
        <td>
          <input 
          id="voice_speed_input" 
          type="range" 
          min="50" max="400" value="100" 
          onchange="set_tts_param('speed')"
          style="width: 100%;">
        </td>
        <td>
          <button class="example_c" onclick="set_tts_param('speed', reset=true)">RESET</button>
        </td>
      </tr>
      <tr>
        <td>Voice pitch</td>
        <td>
          <input 
          id="voice_pitch_input" 
          type="range" 
          min="1" max="400" value="100" 
          onchange="set_tts_param('pitchShift')" 
          style="width: 100%;">
        </td>
        <td>
          <button class="example_c" onclick="set_tts_param('pitchShift', reset=true)">RESET</button>
        </td>
      </tr>
    </table>

    <!--
    <div class="row">
      <span>Adjust volume</span>
      <input id="volume_slider" type="range" min="1" max="100" value="50" onchange="setVolume()">
    </div>
    <br>

    <div class="row">
      <span>Voice speed</span>
      <input id="voice_speed_input" type="range" min="50" max="400" value="100" onchange="set_tts_param('speed')">
      <button class="example_c" onclick="set_tts_param('speed', reset=true)">RESET</button>

    </div>
    <br>

    <div class="row">
      <span>Voice pitch</span>
      <input id="voice_pitch_input" type="range" min="1" max="400" value="100" onchange="set_tts_param('pitchShift')">
      <button class="example_c" onclick="set_tts_param('pitchShift', reset=true)">RESET</button>
    </div>
    <br>
    -->
    
    <!-- COLUMN 1: SPEECH-->
    <div style="width: 50%; float: left;">
    
      <h3>Text messages</h3>

      {%for msg in config["messages"]%}
      <!-- Here, we iterate over all the messages and create labels and buttons for each-->
      <div class="row">
        <div class="speech_lbl_wrapper">
          <span>{{msg["short"]}}</span>
        </div>
        <div class="speech_btn_wrapper">
          <button 
            title='{{msg["full_text"]}}'
            class="example_c" 
            id="voice_cmd_{{loop.index0}}" 
            onclick="say_predefined_text('{{msg["full_text"]}}', {{loop.index0}})">
            SAY IT
          </button>
        </div>
      </div>
      <br>

      {%endfor%} 

      <div class="row">
        <span>Direct message:</span>
        <input type="text" placeholder="Type custom message here..." id="custom_text_msg" class="text_input">
        <button class="example_c" onclick="say_custom_text()" id="custom_text_btn">SAY IT</button>
      </div>
      <br>

  </div>

  <!-- COLUMN 2: Audio files-->
  <div style="width: 50%; float: left;">

    <h3>Audio files</h3>

    {%for audio in config["audio_files"]%}
      <div class="row">
        <div class="speech_lbl_wrapper">
          <span>{{audio["title"]}}</span>
        </div>
        <div class="speech_btn_wrapper">
          <button 
            title="{{audio['location']}}"
            class="example_c" 
            id="audio_file_{{loop.index0}}" 
            onclick="play_audio('{{audio["title"]}}', {{loop.index0}})">PLAY</button>
        </div>
      </div>
      <br>

      {%endfor%}

  </div>

  </div>

  <!-- Camera stream  -->
  <!-- 
  <div class="camera">
    <h2>Camera</h2>
    <img src="../static/imgs/umea_logo.png" style="max-width: 400px">
  </div>  
  -->

  <!-- Pepper  motion comands -->
  <div class="pepper_motion">
    <h2>Pepper motion</h2>

    <div class="row">
      <img src="../static/imgs/arrow_keys.png" style="max-height:80px;">
      <table style="width:100%">
        <tr>
          <td style="text-align: right;">Move head</td>
          <td style="text-align: left;">: Arrow keys</td>
        </tr>
        <tr>
          <td style="text-align: right;">Rotate base</td>
          <td style="text-align: left;">: SHIFT + Arrow keys</td>
        </tr>
        <tr>
          <td style="text-align: right;">Drive</td>
          <td style="text-align: left;">: ALT + Arrow keys</td>
        </tr>
      </table>
      <span>CTRL + BACKSPACE: Stop driving</span><br><br>

      <button 
        title="Put pepper in resting position"
        class="example_c" 
        id="resting_pos_btn" 
        onclick="enter_resting_pos()">
        Resting position
      </button>
      <button 
        title="Put pepper in resting position"
        class="example_c" 
        id="resting_pos_btn" 
        onclick="netural_stand_position()">
       Neutral stand position
      </button>
      <br><br>
      <span>Motion Vector: <span id="motion_vector">[0, 0, 0]</span></span>
      
    </div>
    <br>

    <!-- COLUMN 1: Animated speech-->
    <div style="width: 50%; float: left;">

      <a href="http://doc.aldebaran.com/2-5/naoqi/audio/alanimatedspeech.html" target="blank">
        <h3>Animated Speech</h3>
      </a>

      {%for anim_speech in config["animated_speech"]%}
      <div class="row">
        <div class="speech_lbl_wrapper">
          <span>{{anim_speech["title"]}}</span>
        </div>
        <div class="speech_btn_wrapper">
          <button 
            title="{{anim_speech['tooltip']}}"
            class="example_c" 
            id="anim_speech_btn_{{loop.index0}}" 
            onclick="exec_anim_speech('{{anim_speech["title"]}}', {{loop.index0}})">
            EXECUTE
          </button>
        </div>
      </div>
      <br>
      {%endfor%}
  
    </div>

    <!-- COLUMN 2: Gestures-->
    <div style="width: 50%; float: left;">
      <a href="http://doc.aldebaran.com/2-4/naoqi/motion/alanimationplayer.html" target="blank">
        <h3>Gestures</h3>
      </a>

      {%for gesture in config["gestures"]%}
        <div class="row">
          <div class="speech_lbl_wrapper">
            <span>{{gesture["title"]}}</span>
          </div>
          <div class="speech_btn_wrapper">
            <button 
              title="{{gesture['tooltip']}}"
              class="example_c" 
              id="gesture_btn_{{loop.index0}}" 
              onclick="exec_gesture('{{gesture["title"]}}', {{loop.index0}})">
              EXECUTE
            </button>
          </div>
        </div>
        <br>
        {%endfor%}

        <div class="row">
          <span>Direct execution:</span>
          <br>
          <input type="text" placeholder="animations/Stand/Gestures/Hey_1" id="custom_gesture_string" class="text_input"><br>
          <button class="example_c" onclick="exec_custom_gesture()" id="custom_gesture_btn">EXECUTE</button>
        </div>
        <br>

      </div>



  </div>

  <!-- Footer -->
  <div class="footer">
    <h2>Other</h2>

    <div class="col_one_of_three">

      <div class="row">
        <div class="btn_label_wrapper">
          <span>Toggle eye light</span>
        </div>
        <div class="btn_wrapper">
          <button onclick="myFunction()" class="example_c">On</button>
        </div>
      </div>
      <br>

      <div class="row">
        <div class="btn_label_wrapper">
          <span>Toggle ear light</span>
        </div>
        <div class="btn_wrapper">
          <button onclick="myFunction()" class="example_c">On</button>
        </div>
      </div>
      <br>

    </div>

    <div class="col_one_of_three">
      <div class="row">
        <button class="example_c">Arbitrary action 0</button>
      </div>
      <br>

      <div class="row">
        <button class="example_c">Arbitrary action 1</button>
      </div>
      <br>

    </div>

    <div class="col_one_of_three">
      <div class="row">
        <button class="example_c">Arbitrary action 2</button>
      </div>
      <br>

      <div class="row">
        <button class="example_c">Arbitrary action 3</button>
      </div>
      <br>

    </div>
  </div>
</div>

</body>
</html>
